* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.first-container {
    background: linear-gradient(to bottom, #3A7CA5, #7e99ad);
    height: 200px;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    position: relative;
}
.container{
    display: flex;
    justify-content: space-between;
     /* border-bottom: 1px solid black; */
    padding-bottom: em;
    height: 180px;
}
.left-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -4em;
    align-items: center;
}

.left-container img{
    width: 190px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.left-container h2{
    font-weight: bold;
    margin-top: 10px;
}
.left-container p{
    color: #818183;
}

.container .right{
    margin-top: 1.5em;
}
.container .right a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    font-weight: 400;
}

.first-seen{
    display: flex;
align-content: center;
align-items: center;
justify-content: center;
 gap: 10rem;
    text-align: center;
}
.first-seen-2{
    border-right: 1px solid #bebebe;
    padding-right: 20px;
    margin-top: 1.5em;
    text-align: center;
}
.first-seen-2 p{
    color: #818183;
}

.public{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    align-items: center;
    border-top: 1px solid #c7c4c4;
    border-bottom: 1px solid #c7c4c4;
    padding: 2.5em 0;
    gap: 20rem;
}

.left-public p{
    color: #818183;
}

.right-public{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: start;
    width: 40%;
    gap: 1em;
}
.right-public #section{
    display: flex;
    align-items: center;
    align-content: center;
    align-content: center;
    background-color: #ffffff;
    border: 1px solid #c7c4c4;
    padding: 10px 0;
    border-radius: 1.5em;
}
.right-public #section h2{
    border: none;
}
.right-public section{
    display: flex;
    align-items: center;
    align-content: center;
    align-content: center;
    background-color: #ffffff;
    border: 1px solid #c7c4c4;
    padding: 10px 0;
    border-radius: 1.5em;
}

.right-public section h3{
    padding-right: 1.5em;
    font-size: 18px;
    height: 20px;
    color: gray;
    padding-left: 1.5em;
}
.right-public section h2{
    padding-right: 1em;
    padding-left: 10px;
    font-size: 22px;
    border-left: 1px solid grey;
}

.Support{
    display: flex;
    align-items: center;
    padding: 2em 0;
}
.Support i{
    font-size: 40px;
    position: relative;
    right: 2em;
    color: #3A7CA5;
}
.Support-2 {
    flex: 1;

}
.Support-2 p{
    color: #a5a1a1;
}

.log-out{
    display: flex;
     display: flex;
    align-items: center;
}
.log-out-2{
   flex: 1;
}
.log-out-2 p{
   color: #a5a1a1;
}
.log-out a{
  font-size: 20px;
    position: relative;
    right: 2em;
    background-color: #adadad;
    padding: 10px 1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1em;
}


@media (max-width: 360px) {
    main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
    .first-container{
        width: 100%;
        overflow: hidden;
    }
    .container{
      height: auto;
      width: 70%;
      flex-direction: column;
      justify-content: space-around;
      justify-content: center;
      align-items: center;
    }
    .left-container img{
        display: flex;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.left-container h2{
    font-size: 15px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10px;
}
.container .right{
    position: relative;
    top: -3em;
}
.first-seen{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.first-seen-2{
    border-bottom: 1px solid #bebebe;
    padding-right: 20px;
    border-right: none;
    margin-top: 1.5em;
    text-align: center;
}
.public{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.right-public{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-public #section{
    width: 80%;
    white-space: nowrap;
}
.right-public section{
    width: 80%;
}
.right-public section h3{
    font-size: 14px;
}
.right-public section h2{
    font-size: 14px;
}
.Support{
    display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   gap: 5em;
}
.Support i{
    font-size: 25px;
    position: relative;
    right: 2em;
    color: #3A7CA5;
}
.Support h2{
    font-size: 16px;
}
.Support-2 {
    flex: 1;
}
.log-out{
    display: flex;
    align-items: center;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.log-out-2{
   flex: 1;
}
.log-out-2 h2{
   font-size: 16px;
}
.log-out-2 p{
   color: #a5a1a1;
}
.log-out a{
  font-size: 15px;
    position: relative;
    right: 2em;
    background-color: #adadad;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1em;
}

}





@media (max-width: 440px) {
    main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
    .first-container{
        width: 100%;
        overflow: hidden;
    }
    .container{
      height: auto;
      width: 70%;
      flex-direction: column;
      justify-content: space-around;
      justify-content: center;
      align-items: center;
    }
    .left-container img{
        display: flex;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.left-container h2{
    font-size: 15px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10px;
}
.container .right{
    position: relative;
    top: -3em;
}
.first-seen{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.first-seen-2{
    border-bottom: 1px solid #bebebe;
    padding-right: 20px;
    width: 50%;
    border-right: none;
    margin-top: 1.5em;
    text-align: center;
}
.public{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.right-public{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-public #section{
    width: 80%;
    white-space: nowrap;
}
.right-public section{
    width: 80%;
}
.right-public section h3{
    font-size: 14px;
}
.right-public section h2{
    font-size: 14px;
}
.Support{
    display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   gap: 5em;
}
.Support i{
    font-size: 25px;
    position: relative;
    right: 2em;
    color: #3A7CA5;
}
.Support h2{
    font-size: 16px;
}
.Support-2 {
    flex: 1;
}
.log-out{
    display: flex;
    align-items: center;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.log-out-2{
   flex: 1;
}
.log-out-2 h2{
   font-size: 16px;
}
.log-out-2 p{
   color: #a5a1a1;
}
.log-out a{
  font-size: 15px;
    position: relative;
    right: 2em;
    background-color: #adadad;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1em;
}
}



@media (max-width: 576px) {
    main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
    .first-container{
        width: 100%;
        overflow: hidden;
    }
    .container{
      height: auto;
      width: 70%;
      flex-direction: column;
      justify-content: space-around;
      justify-content: center;
      align-items: center;
    }
    .left-container img{
        display: flex;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.left-container h2{
    font-size: 15px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10px;
}
.container .right{
    position: relative;
    top: -3em;
}
.first-seen{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.first-seen-2{
    border-bottom: 1px solid #bebebe;
    padding-right: 20px;
    border-right: none;
    margin-top: 1.5em;
    text-align: center;
}
.public{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.right-public{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-public #section{
    width: 80%;
    white-space: nowrap;
}
.right-public section{
    width: 80%;
}
.right-public section h3{
    font-size: 14px;
}
.right-public section h2{
    font-size: 14px;
}
.Support{
    display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   gap: 5em;
}
.Support i{
    font-size: 25px;
    position: relative;
    right: 2em;
    color: #3A7CA5;
}
.Support h2{
    font-size: 16px;
}
.Support-2 {
    flex: 1;
}
.log-out{
    display: flex;
    align-items: center;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.log-out-2{
   flex: 1;
}
.log-out-2 h2{
   font-size: 16px;
}
.log-out-2 p{
   color: #a5a1a1;
}
.log-out a{
  font-size: 15px;
    position: relative;
    right: 2em;
    background-color: #adadad;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1em;
}

}